
* {
    margin: 0;
    padding: 0;
}

.container {
    width: 800px;
    padding: 5px;
    margin: 50px auto;
    box-sizing: border-box;
}

 #header {
     width: auto;
     height: 150px;
     background-color: darkseagreen;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 25px;
     border: 1px solid black;
     margin-bottom: 20px;
}

 #menu {
     width: 30%;
     height: auto;
     background-color: pink;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 25px;
     border: 1px solid black;
     margin-bottom: 20px;
     margin-right: 20px;
 }

 .post {
     display: flex;
     row-gap: 25px;
     font-size: 25px;
     width: 70%;
     margin-bottom: 20px;
 }

 .post_item {
     width: 100%;
     height: 150px;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: lightblue;
     border: 1px solid black;
 }
#footer {
    height: 150px;
    background-color: darkseagreen;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border: 1px solid black;
}

.block {
    display: flex;
}

.post {
    display: flex;
    flex-direction: column;
}
