:root {
    --color_light_grey: #d9d9d9;
    --color_dark_grey: #a3a3a3;
}
* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1000px;
    border: 5px solid var(--color_dark_grey);
    padding: 5px;
    margin: 0 auto;
    border-radius: 8px;
    box-sizing: border-box;
}

 #header {
     width: auto;
     height: 150px;
     row-gap: 5px;
     background-color: gold;
}

 #menu {
     width: 30%;
     height: 150px;
     background-color: blueviolet;
 }

 .post {
     display: flex;
     column-gap: 5px;
 }

 .post_item {
     flex-grow: 1;
     width: 100px;
     height: 150px;
     background-color: cornflowerblue;
 }
#footer {
    height: 150px;
    background-color: gold;
}
