* {
    margin: 0;
    padding: 0;
}

.d-flex {
    column-gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    flex-wrap: wrap;
    text-align: center;
    color: white;
    width: 800px;
    padding: 5px;
    margin: 0 auto;
    box-sizing: border-box;
}
.widgets {
    font-size: 35px;
    flex-wrap: wrap;
    text-align: center;
    width: auto;
    height: 300px;
    background-color: blue;
}

.widgets_block, .contact {
    margin-top: 15px;
    display: flex;
    column-gap: 15px;
}

.widgets__item {
    font-size: 25px;
    flex-grow: 1;
    width: 200px;
    height: 300px;
    background-color: darkblue;
}

.contact {
    font-size: 35px;
    height: 500px;
    background-color: blue;
}